{% load static %}
{% include 'header.html' %}

 <div class="jp_tittle_main_wrapper">
        <div class="jp_tittle_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_tittle_heading_wrapper">
                        <div class="jp_tittle_heading">
                        <center><h2>Interview Questions</h2></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

         <div class="col-lg-12 col-md-6 col-xs-12 col-sm-12">
                    <div class="accordion_wrapper abt_page_2_wrapper">
                        <div class="panel-group" id="accordion_threeLeft">
                            <div class="panel panel-default">
                                <div class="panel-heading desktop">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeftone" aria-expanded="true">
                                  What are your strengths?
                              </a>
                                    </h4>
                                </div>
                                <div id="collapseTwentyLeftone" class="panel-collapse collapse" aria-expanded="true" role="tablist">
                                    <div class="panel-body">
                                        Why is this question asked?<br>
The question serves as a yardstick for evaluating your aptitude for the vacancy. Your response to this question will help the interviewer understand if your strengths align with the company's requirements for the job. For instance, let's say you have done Masters in Finance, then a good answer would showcase your proficiency with financial tools and techniques as well. Also, the interviewer is looking for an answer that shows that you're both, self-aware and confident.<br><br>

Tips on how to answer this question:<br>
This question is easy if approached diligently. The ideal answer would include your unique abilities that make you stand out as a candidate for the job. Make sure you back your talents with specific examples.
In giving examples to justify the "what are your strengths" answer, the following should be considered:<br>
    • Your greatest strength is usually the specific aptitude required for the position.<br>
    • Your strengths set you apart from other candidates.<br>
    • Your excellent communication skills are clearly demonstrated in the response.
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-default -->
                            <div class="panel panel-default">
                                <div class="panel-heading horn">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeftTwo" aria-expanded="false">
                                 What are your weaknesses?
                              </a>
                                    </h4>
                                </div>
                                <div id="collapseTwentyLeftTwo" class="panel-collapse collapse in" aria-expanded="false" role="tablist">
                                    <div class="panel-body">
                                        Why is this question asked?<br>
Recruiters prefer hiring professionals that are always ready to learn new aspects, and improve their aptitude. You shouldn't deny about having real weaknesses. But make sure that the weaknesses you mention don't interfere with the responsibilities of the job in question.<br>
Also, while mentioning your weaknesses include details on how you’re taking steps on correcting that weakness.<br><br>
Tips on how to answer this question:<br>
It is advisable that you demonstrate honesty during the interview session by not being shy to admit your weaknesses. Make sure the mentioned weakness provides no serious drawback to the target position.
Don’t : Never tell an interviewer" I have no weaknesses."It is a sign of dishonesty, and may be the reason why you may not get selected. Recruiters have stringent rules on dishonesty.<br>
Most interviewers are interested in you demonstrating the ability, and zeal to minimize your weaknesses. It is all about self improvement! Mention activities you may have taken to become a better you.
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-default -->
                            <div class="panel panel-default">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeftThree" aria-expanded="false">
                                Discuss your resume.
                              </a>
                                    </h4>
                                </div>
                                <div id="collapseTwentyLeftThree" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                    <div class="panel-body">
                                       Why is this question asked?<br>
The interviewer will ask this question to judge your ability to effectively communicate your achievements, which will determine if you made a favorable impression or not.<br>
<br>Tips on how to answer this question:<br>
You should concentrate on mentioning accomplishments and projects you have carried out in the past, which includes your college level achievements. The interviewer does not expect a boring repetition of your resume. You should selectively describe portions of the resume that are most relevant to the job offer. The employer seeks to see the amount of value you can add to the company. Make sure your answer demonstrates that.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeft4" aria-expanded="false">
                                Why are you interested in working for us?
                              </a>
                                    </h4>
                                </div>
                                <div id="collapseTwentyLeft4" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                    <div class="panel-body">
                                        Why is this question asked? <br>
When interviewing prospective employees, employers are eager to determine which candidates really want the job and would invest genuine effort in bettering the company, and who just wants a job, any job, regardless of what the position entails.<br><br>
Tips on how to answer this question:<br>
This question requires a perfect grasp of the company's mission, and services. You will need to diligently research on the activities of the organization and use it to provide a suitable answer during the interview session. The quality of your response will be determined by your knowledge of the company. The “About Us” section of the employer's website would contain valuable information. So don’t forget to check that out.<br>
Also, make sure you explore the company's LinkedIn page. You can request for information about job requirements by connecting with a HR representative from the company. This will help you to prepare better for the interview.<br>
An appropriate response should showcase an appreciable knowledge of the organization. This implies you must do research to identify specific reasons for wanting to work for the company.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeft5" aria-expanded="false">
                                Why do you want to leave your current company?
                              </a>
                                    </h4>
                                </div>
                                <div id="collapseTwentyLeft5" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                    <div class="panel-body">
                                        Why is this question asked?<br>
The question aids the recruiter in determining if the specific job is in line with your personal and professional aspirations.This will enhance the decision-making process.<br>
<br>Tips on how to answer this question:<br>
Avoid going into the specifics regarding poor management, compensation, poor morale or any other negative aspects of your previous job. Instead, focus your attention to the new job. Demonstrating superb knowledge of the company will help the recruiter appreciate your level of interest in working for the organization. Explain how the new company’s work culture appeals to your strengths and experience and that is why you feel that the position they are offering is a better fit for you than the one you have.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeft6" aria-expanded="false">
                                What can you offer us that someone else can't?
                              </a>
                                    </h4>
                                </div>
                                <div id="collapseTwentyLeft6" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                    <div class="panel-body">
                                        Why is this question asked?<br>
The question helps the recruiter identify your confidence level, and whether you have the required skills which will make you a good fit for the job. Your humility level will be ascertained through this question.
<br><br>
Tips on how to answer this question:<br>
List down your strengths and explain to the interviewer why that makes you a perfect fit for the position.
Mentioning unique attributes instead of general attributes would also help you stand out in the recruitment process. “Avoid sou<br>nding too cliche”, says Lisa Baker-King, a San Antonio-based business consultant. Avoid enumerating skills that are common to all professionals such as, “I’m great wit<br>h people,” “I have a strong work ethic,” or “I have a great attitude,” she says.<br>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeft7" aria-expanded="false">
                                Why was there a gap in your employment between these two dates?
                              </a>
                                    </h4>
                                </div>
                                <div id="collapseTwentyLeft7" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                    <div class="panel-body">
                                       Why is this question asked?<br>
This question will help the recruiter determine the effect of the gap period on your skills. Provide an answer that shows that you have been productive during the gap period and that you have worked on some substantial tasks/ project during that period.<br>
<br><br>Tips on how to answer this question:
This can be a tricky question that can make or break your case. The following tips would help you in providing a satisfactory answer.<br>
    • Demonstrate honesty in your answers. This will make the information more natural and believable.<br>
    • In your explanations ensure that you discard all reasons that can make you unfit for the job.<br>
    • If possible, apply your reason to the position you are applying for. Spending time building your skill set with non-occupational experience is a great example of this.<br>
Stay cool and expect the best from the recruiters after following the aforementioned guidelines.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeft8" aria-expanded="false">
                                What are three things your former manager would like you to improve on?
                              </a>
                                    </h4>
                                </div>
                                <div id="collapseTwentyLeft8" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                    <div class="panel-body">
                                       Why is this question asked?<br>
The interviewer is gauging your motivation level towards professional advancement through this question. Showing that you are making progress in your career by enhancing your strengths, and minimizing your weaknesses is what the interviewer wants to see. Interviewers prefer hiring candidates that are willing to transform their weaknesses into strengths.<br>
<br>Tips on how to answer this question:
It’s always a tough task to answer questions based on opinions of someone on you. Take the following points into consideration for a proper response:<br>
    • Mention both your weaknesses and corresponding steps to improve them.<br>
    • Try to identify some positive aspects in even the most negative experiences. This would generate a good impression about you.<br>
    • Give an honest answer on an attribute that your manager would wish that you improve on.<br>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeft9" aria-expanded="false">
                                Are you willing to relocate?
                              </a>
                                    </h4>
                                </div>
                                <div id="collapseTwentyLeft9" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                    <div class="panel-body">
                                       Why is this question asked?<br>
This question aims at understanding your degree of willingness to take up the job. The interviewer wants to test your passion level and how far are you willing to go to take the job. Also, there may be an actual need to relocate for the position.<br>
<br>
Tips on how to answer this question:<br>
Your responses should radiate an appreciable level of passion that would convince the recruiter that you are a perfect fit for the job.<br>
Mention the following points in your response -<br>
    • Respond with passion about the job regardless of whether or not you are willing to move<br>
    • Be honest with what you want so as to avoid any problems if you get recruited<br>
    • If you are willing to relocate, have a clear idea about relocation requirements and limitations.                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeft10" aria-expanded="false">
                                Are you willing to travel?
                              </a>
                                    </h4>
                                </div>
                                <div id="collapseTwentyLeft10" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                    <div class="panel-body">
                                        Why is this question asked?<br>
An interviewer will ask this question to see if you are willing and able to travel as much as the job requires.<br><br>
Tips on how to answer this question:<br>
Mention your flexibility when it comes to traveling for work reasons. Be as honest as you can. Make sure you understand how much traveling will be expected of you and whether you’re fine with that.
Follow-up with the following set of points to craft your answer better -<br>
    • Understand the travel requirements early enough<br>
    • Mention your travel limitations<br>
    • Clear all your doubts<br>
Once everything is cleared up, mention how you’re aware of all the travel requirements of the job and are totally up for it.                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-default -->
                        </div>
                        <!--end of /.panel-group-->
                    </div>
                </div>



{% include 'footer.html' %}
    