{% load static %}
{% include 'header.html' %}
    <div class="jp_tittle_main_wrapper">
        <div class="jp_tittle_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_tittle_heading_wrapper">
                        <div class="jp_tittle_heading">
                            <center><h2>About-Us</h2></center>
                        </div>
                        <!--<div class="jp_tittle_breadcrumb_main_wrapper">
                            <div class="jp_tittle_breadcrumb_wrapper">
                                <ul>
                                    <li><a href="#">Home</a> <i class="fa fa-angle-right"></i></li>
                                    <li><a href="#">Pages</a> <i class="fa fa-angle-right"></i></li>
                                    <li>About-Us</li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="aboutus_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <div class="about_text_wrapper">
                        <div class="section_heading section_2_heading">
                            <h2>how we <span>do it ?</span></h2>
                        </div>
                        <p>The platfrom will provide the users to enter their skills and qualfication and the platform will then filter out the jobs matching the entered details hereby removing problem of irrelevant applications and unresponsivess.</p>
                        <p>Since database of all other job platforms are kept in one place i.e. in the platform thus user will not have to register and make profiles again and again on different portals.</p>
                        <ul>
                            <li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">Web Scraping is used.</a>
                            </li>
                            <li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">Removes problems of unresponsive and irrelevant applications.</a>
                            </li>
                            <li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">No need to register on different portals.</a>
                                    </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <div class="about_image_wrapper" >
                        <img class="img-responsive" src="{% static 'images/content/register_bg.jpg' %}" alt="about-img" style="width: 80%; margin-top: -44px;">
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                   <div class="about_text_wrapper abt_2_para">
                        <div class="section_heading section_2_heading">
                            <h2>why we<span> do it ?</span></h2>
                        </div>
                        <p>The present job market is too much crowded with diffrent job portal thus giving rise to a lot of problems i.e. irrelevant applications, unresponsiveness. If anyone is applying on a job posting listed on a job portal then in most cases it will take you to either on career portal of commpany or some other job board. Thus , one has to register and make profiles again on diffrent career portals which makes the process cumbersome for job seekers. To overcome these problems we have created a platform where all the database of other job portals will kept in one place.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jp_best_deal_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_best_deal_heading_wrapper">
                        <div class="jp_best_deal_heading">
                            <h4>Offering the best Deals</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="jp_best_deal_main_cont_wrapper">
                        <div class="jp_best_deal_icon_sec">
                            <i class="flaticon-magnifying-glass"></i>
                        </div>
                        <div class="jp_best_deal_cont_sec">
                            <h4><a href="#">Search Jobs</a></h4>
                            <p>Search any job in which you are interested </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="jp_best_deal_main_cont_wrapper">
                        <div class="jp_best_deal_icon_sec">
                            <i class="flaticon-users"></i>
                        </div>
                        <div class="jp_best_deal_cont_sec">
                            <h4><a href="#">Applied Jobs</a></h4>
                            <p>Check the history of the jobs for which you have applied</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="jp_best_deal_main_cont_wrapper jp_best_deal_main_cont_wrapper2">
                        <div class="jp_best_deal_icon_sec">
                            <i class="flaticon-shield"></i>
                        </div>
                        <div class="jp_best_deal_cont_sec">
                            <h4><a href="#">Interview Q/A</a></h4>
                            <p>Search questions asked in previous interviews.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="jp_best_deal_main_cont_wrapper jp_best_deal_main_cont_wrapper2">
                        <div class="jp_best_deal_icon_sec">
                            <i class="flaticon-notification"></i>
                        </div>
                        <div class="jp_best_deal_cont_sec">
                            <h4><a href="#">Job Notifications</a></h4>
                            <p>Get notifications of the jobs to be applied.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="jp_best_deal_main_cont_wrapper jp_best_deal_main_cont_wrapper2">
                        <div class="jp_best_deal_icon_sec">
                            <i class="flaticon-people"></i>
                        </div>
                        <div class="jp_best_deal_cont_sec">
                            <h4><a href="#">Edit Profile</a></h4>
                            <p>Edit and update your profile according to your needs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="jp_best_deal_main_cont_wrapper jp_best_deal_main_cont_wrapper2">
                        <div class="jp_best_deal_icon_sec">
                            <i class="flaticon-people"></i>
                        </div>
                        <div class="jp_best_deal_cont_sec">
                            <h4><a href="#">Resume</a></h4>
                            <p>Check your profile which will be visible to the companies</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="jp_counter_main_wrapper">
        <div class="gc_counter_cont_wrapper">
            <div class="count-description">
                <span class="timer">2540</span><i class="fa fa-plus"></i>
                <h5 class="con1">Jobs Available</h5>
            </div>
        </div>
        <div class="gc_counter_cont_wrapper2">
            <div class="count-description">
                <span class="timer">7325</span><i class="fa fa-plus"></i>
                <h5 class="con2">Members</h5>
            </div>
        </div>
        <div class="gc_counter_cont_wrapper3">
            <div class="count-description">
                <span class="timer">1924</span><i class="fa fa-plus"></i>
                <h5 class="con3">Resumes</h5>
            </div>
        </div>
        <div class="gc_counter_cont_wrapper4">
            <div class="count-description">
                <span class="timer">4275</span><i class="fa fa-plus"></i>
                <h5 class="con4">Company</h5>
            </div>
        </div>
    </div>

  
{% include 'footer.html' %}