{% load static %}
{% include 'header.html' %}
    <!-- Header Wrapper End -->
    <!-- jp Tittle Wrapper Start -->
    <div class="jp_tittle_main_wrapper">
        <div class="jp_tittle_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_tittle_heading_wrapper">
                        <div class="jp_tittle_heading">
                          <center>  <h2> Edit Your Job Post</h2></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="jp_contact_form_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_contact_form_heading_wrapper">
                        <h2>Job Details</h2>
                    </div>
                </div>
                <div class="col-lg-12 col-md-8 col-sm-12 col-xs-12">
                    <form method="POST">
                        {% csrf_token %}

                    <div class="jp_contact_form_box">

                        <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <div class="jp_contact_inputs_wrapper jp_contact_inputs2_wrapper">
                                <i class="fa fa-user"></i><input type="text" placeholder=" Enter the serial number of the job post which you want to edit*" name="company_name" required>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="jp_contact_inputs_wrapper">
                                <i class="fa fa-user"></i><input type="text" placeholder=" Company Name*" name="company_name" required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="jp_contact_inputs_wrapper jp_contact_inputs2_wrapper">
                                <i class="fa fa-envelope"></i><input type="text" placeholder=" Post Name*" name="post_name" required>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_contact_inputs_wrapper jp_contact_inputs3_wrapper">
                                <i class="fa fa-pencil-square-o"></i><input type="text" placeholder=" Package*" name="package" required>
                            </div>
                        </div>
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_contact_inputs_wrapper jp_contact_inputs3_wrapper">
                                <i class="fa fa-pencil-square-o"></i><input type="text" placeholder="Job Location" name="location" required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_contact_inputs_wrapper jp_contact_inputs3_wrapper">
                                <i class="fa fa-pencil-square-o"></i><input type="text" placeholder="Skills Required*" name="skills" required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="jp_contact_inputs_wrapper jp_contact_inputs3_wrapper">
                                <i class="fa fa-envelope"></i><input type="text" placeholder=" Experinece*" name="experience" required>
                            </div>
                        </div>
                       
                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_contact_form_btn_wrapper ">
                                
                                <center> <input type="submit" value="Post Job" width="70" height="80"  style="background-color: red; color: white; margin: 30px; border: 0px; border-radius: 10px; font-size: 20px;" > </center>
                            
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="jp_recent_job_main_wrapper " style="padding-top: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cc_featured_product_main_wrapper">
                        <div class="jp_hiring_heading_wrapper jp_job_post_heading_wrapper">
                            <h2>Your Job Posts</h2>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="best">
                            {% for i in data %}
                            <div class="ss_featured_products">
                                <!-- <div class="owl-carousel owl-theme"> -->
                                    <!-- <div class="item" data-hash="zero"> -->
                                        <div class="jp_job_post_main_wrapper_cont">
                                            <div class="jp_job_post_main_wrapper" style="height: 160px">
                                                <div class="row">
                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                       
                                                        <div class="jp_job_post_right_cont" style="line-height: 7px;">
                                                        <ul>
                                                                <li>
                                                                    <h4>{{i.id}}) {{i.post_name}} ({{i.experience}})</h4>
                                                                </li>
                                                            </ul><br>
                                                            <ul> <li><p>{{i.company_name}}</p></li>
                                                            </ul><br><br>
                                                            <ul>
                                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; {{i.package}}</li>
                                                                <li><i class="fa fa-map-marker"></i>&nbsp; {{i.location}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                        <div class="jp_job_post_right_btn_wrapper">
                                                            <ul>
                                                                <li><a href="#">Apply</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp_job_post_keyword_wrapper">
                                                <ul>
                                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                                    <li><a href="#">{{i.skills}}</a>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div></div>{% endfor %}
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {% if data.has_other_pages %}
                            <ul class="pagination center">
                            {% if data.has_previous %}
                            <li><a href="?page={{ data.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                            {% else %}
                            <li class="disabled"><a><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                            {% endif %}

                            {% if data.number|add:'-4' > 1 %}
                            <li><a href="?page={{ data.number|add:'-5' }}">&hellip;</a></li>
                            {% endif %}

                            {% for i in data.paginator.page_range %}
                            {% if data.number == i %}
                            <li class="active"><a>{{ i }} <span class="sr-only">(current)</span></a></li>
                            {% elif i > data.number|add:'-5' and i < data.number|add:'5' %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}

                            {% if data.paginator.num_pages > data.number|add:'4' %}
                            <li><a href="?page={{ data.number|add:'5' }}">&hellip;</a></li>
                            {% endif %}

                            {% if data.has_next %}
                            <li><a href="?page={{ data.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                            {% else %}
                            <li class="disabled"><a><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- jp downlord Wrapper End -->
    <!-- jp Newsletter Wrapper Start -->
   {% include 'footer.html' %}
    